<?xml version="1.0" encoding="UTF-8"?>
<config>
	<servers>
		<service name="gateway" configPath="server.config"
			threadCount="8" iceMessageSizeMax="4096" />
	</servers>

	<!-- level:info debug error fatal warn 不传为ALL -->
	<log fileName="app.log" level="debug" showSql="true" />

	<!--远程日志服务器的配置 -->
	<remoteLog>
		<url><![CDATA[http://192.168.1.19:7020/apipool?method=company.cloud.config.getLogServiceList]]></url>
	</remoteLog>

	<!--服务节点的配置 -->
	<serviceList>
		<url><![CDATA[http://192.168.1.19:7020/apipool?method=company.cloud.config.getServiceList&activeFlag=1]]></url>
	</serviceList>

	<!--错误列表的接口 -->
	<errorList>
		<url><![CDATA[http://192.168.1.19:7020/apipool?method=company.cloud.config.getErrorList&appId=1000]]></url>
	</errorList>

</config>
